.filtersContainer{
/*   display: flex;
  justify-content: space-around;
  width: 1200px;
  height: 80px;
  margin-bottom: 20px; */
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 160px)
  );
  gap:17px;
  justify-content: center;
}

.filter {
    scale: 0.9;
    align-items: center;
    justify-content: space-between;
    background-color: #c7549536;
    border: 0.5px solid rgba(233, 202, 66, 0.705);
    border-radius: 8px;
    width: 180px;
    height: 85px;
}
.buttonsDiv{
  display: flex;
  margin-top: 9px;
  /* align-items: center; */
  justify-content: space-around;
}

.labelTitle{
  color: #e46eaa;
  font-weight: bold;
  font-size: 13px;
}

.icon{
  width: 26px;
}

  /* Estilos para los botones de filtro por creación */
  .filter button {

    color: aliceblue;
    padding: 8px 12px;
    font-size: 14px;
    /* margin-right: 5px; */
    cursor: pointer;
    border: 1px solid #2abdf7;
    border-radius: 4px;
    background-color: #e46eaa;
    scale: 0.8;
    margin-left: 3px;
    margin-right: 3px;
  }

  .filter button:hover{
    background-color: #c75495;
  }
  .filter button:active{
    background-color: #974272;
    transform: scale(0.98);
  }
  .select{
    background-color: #1a1a33;
    color: #ffffff;
    border: 1px solid #444466;
    border-radius: 4px;
    margin-top: 20px;
    padding: 8px;
}

