

  
.notLoaded{
  height: 600px;
}

.allHome{
  display: flex;
  padding-bottom: 105px;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  background-image: url(https://wallpapercave.com/wp/wp9108900.jpg);

  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.notLoadedGif{
  margin-top: 70px;
  width: 90px;
  height: 90px;
  padding-bottom: 150px;
}

.icon{
  padding: 9px 9px 9px 9px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  border: 1px solid #2abdf7;
  border-radius: 4px;
  background-color: #e46eaa;
  scale: 0.8;
  margin-top: 37px;
  margin-left: 18px;
  height: 30px;
  width: 30px;
}
.icon:hover{
  background-color: #c75495;
}
.icon:active{
  background-color: #974272;
  transform: scale(0.98);
}

.homeCointainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

}

.cardHomeContainer{
  display: flex;
}

.allComponents{
  width: 97.7%;
  height: 130px;
  margin-left:10px;
  margin-right:10px;
  background-color: #111133;
  padding: 1%;
  border-radius: 8px;
  border: 0.5px solid rgba(233, 202, 66, 0.705);
  margin-top: 0%;
}

.components{
  display: flex;
  justify-content:space-evenly;
}

  .pageInfo {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .buttonsContainer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .page {
    display: flex;
    align-items: center;
  }
  
  .page button {
    padding: 8px 12px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
  }
  
  .created {
    display: block;
    align-items: center;
  }
  
  .created button {
    padding: 8px 12px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
  }
  
  .orden {
    display: block;
    align-items: center;
  }
  
  .orden button {
    padding: 8px 12px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
  }

  .rating {
    display:block;
    align-items: center;
  }
  
  .rating button {
    padding: 8px 12px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
  }

  .Card{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    margin: 10px;
    width: calc(20% - 30px); 
  }

