.paginate{
    display:flex;
    margin: 10px;
    scale: 1.3

}

.numeration{
    color: #ffff;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.button{
    width: 100%;
    height: 29px;
    /* Ajustamos la propiedad "object-position" para centrar la imagen verticalmente */
    object-position: center;
    object-fit: cover;
    border-radius: 6px;
    background-color: #5a72a5;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px;
}
.button:hover{
    background-color: #3862bd;
}