.genresContainer{
    width: 300px;
    
}

.labelTitle{
    color: #e46eaa;
    font-weight: bold;
    font-size: 15px;
}

.select{
    background-color: #1a1a33;
    color: #ffffff;
    border: 1px solid #444466;
    border-radius: 4px;
    padding: 8px;
}